<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GEN HEALTH</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    
<header class="header">
    <h1 class="logo"><a href="#">GEN HEALTH</a></h1>
  <ul class="main-nav">
      <li><a href="index">Home</a></li>
      <li><a href="about">About</a></li>
      <!-- <li><a href="/login.html">Login/SignUp</a> -->
      
        <!-- </li> -->
        <div class="dropdown">
            <button class="dropbtn">LOGIN/SIGN-UP</button>
            <div class="dropdown-content">
              <a href="signlogdoctor">Doctor</a>
              <a href="signlogpatient">Patient</a>
            </div>
        </div>
</header> 
      
<div id="parallax-world-of-ugg">
  
<section>
  <div class="title">
    <h3>ABOUT</h3>
    <h1>GEN HEALTH</h1>
  </div>
</section>

<section>
    <div class="parallax-one">
      <h2>OUR MISSION</h2>
    </div>
</section>

<section>
  <div class="block">
    <p><span class="first-character sc">I</span>Practo is on a mission to make quality healthcare affordable and accessible for over a billion+ Indians. We believe in empowering our users with the most accurate, comprehensive, and curated information and care, enabling them to make better healthcare</p>
    <p class="line-break margin-top-10"></p>
    <p class="margin-top-10"></p>
  </div>
</section>
<section>
    <div class="parallax-one">
      <h2>OUR OFFERINGS</h2>
    </div>
</section>

<section>
  <div class="block">
    <p><span class="first-character sc">I</span>Comprehensive medical directory with detailed, verified information about more than a lakh doctor partners across the country
        Online appointment booking at over 9,000 leading hospitals and clinics with doctors who use Practo Prime
        Online consultation with trusted doctors across 20+ specialities
        Plus, subscription-based health plans, that provide unlimited online consultations* with doctors 24*7*365</p>
    <p class="line-break margin-top-10"></p>
    <p class="margin-top-10"></p>
  </div>
</section>

  
</div>
  </ul>

</body>
</html>