<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>GEN HEALTH</title>
   <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    
<header class="header">
    <h1 class="logo"><a href="#">GEN HEALTH</a></h1>
  <ul class="main-nav">
      <li><a href="/">Home</a></li>
      <li><a href="about">About</a></li>
      <!-- <li><a href="/login.html">Login/SignUp</a> -->
      
        <!-- </li> -->
        <div class="dropdown">
            <button class="dropbtn">LOGIN</button>
            <div class="dropdown-content">
              <a href="logInDoctor">Doctor</a>
              <a href="logInPatient">Patient</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">SIGNUP</button>
            <div class="dropdown-content">
              <a href="signUpdoctor">Doctor</a>
              <a href="signUpPatient">Patient</a>
            </div>
        </div>

      
  </ul>
</header> 

<div id="parallax-world-of-ugg">
  
<section>
  <div class="title">
    <h3>Welcome</h3>
    <h1>GEN HEALTH</h1>
  </div>
</section>

<section>
    <div class="parallax-one">
      <h2>WE SUPPORT</h2>
    </div>
</section>

<section>
  <div class="block">
    <p><span class="first-character sc">G</span>en Health is a centralized healthcare system that aims to streamline the process of healthcare delivery. The website provides patients and healthcare providers with a comprehensive platform to manage patient records, schedule appointments, engage in patient-doctor chats, and provide feedback and ratings. The website's main features include the collection and organization of patient records, secure storage of records, efficient retrieval of records, easy access to records, updating records, integration with other healthcare systems, appointment scheduling, patient-doctor chat, and rating and feedback.

With Gen Health, patients can access their medical records from any location, at any time. The website's robust search function makes it easy for healthcare providers to find the relevant records for a patient. Patients can schedule appointments with their healthcare providers through the website and communicate with them via the patient-doctor chat feature. The rating and feedback feature allows patients to rate their healthcare providers and provide feedback on the quality of care they received. This feedback can help healthcare providers improve their services and provide better care to their patients.

Overall, Gen Health is a user-friendly and secure website that aims to enhance the quality of healthcare delivery by providing a centralized platform for managing patient records, scheduling appointments, and communicating with healthcare providers.</p>
  </div>
</section>

<section>
  <div class="parallax-two">
    <h2>DOCTORS</h2>
  </div>
</section>

<section>
  <div class="block">
    <p><span class="first-character ny">I</span>n Gen Health, doctors play a crucial role in providing quality healthcare to patients. They are responsible for reviewing patient records and histories, making diagnoses, developing treatment plans, and prescribing medications. Using the centralized system, doctors can easily access patient records from various sources and efficiently retrieve relevant information to inform their diagnosis and treatment decisions. They can also communicate with patients through the patient-doctor chat feature and answer any questions or concerns that patients may have. Doctors can also use the appointment scheduling feature to manage their schedules and ensure that they are available to see patients when needed. Additionally, they can view and respond to patient ratings and feedback to continuously improve their practice and patient satisfaction. 

Overall, doctors in Gen Health use the centralized system to provide high-quality care, communicate effectively with patients, and manage their practice efficiently.</p>
  </div>
</section>

<section>
  <div class="parallax-three">
    <h2>Patients</h2>
  </div>
</section>

<section>
  <div class="block">
    <p><span class="first-character atw">
    <p class="line-break margin-top-10"></p>
    <p class="margin-top-10">In Gen Health, patients have an important role in their healthcare. Through the centralized system, they can securely store and access their medical records, including their medical history, test results, and medications. These records are encrypted to ensure their privacy and compliance with healthcare data privacy regulations. 

Patients can also use the system to schedule appointments with doctors, communicate with their healthcare providers through the patient-doctor chat feature, and provide ratings and feedback on their experiences. They can easily access their records to monitor their health and share their medical information with their healthcare providers. The system ensures that patients have complete control over their medical records and can manage their access to them. They can grant access to their records to specific healthcare providers and revoke it at any time. The records are accessible only by authorized personnel, and any attempted unauthorized access is logged and reported.

Overall, patients in Gen Health play an active role in their healthcare by using the centralized system to securely store and access their medical records, communicate with their healthcare providers, and manage their access to their records. The system provides peace of mind that their medical information is protected and accessible when needed.</p>
  </div>
</section>
  
</div>

</body>
</html>
