
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GEN HEALTH</title>
    <link rel="stylesheet" href="css/doctorLogIn.css">
</head>
<body>
    
<h1 style="color:rgb(251, 247, 247);"> DOCTOR LOGIN</h1>
<div class="container right-panel-active">
	
 
	<!-- Sign In -->
	<div class="container__form container--signin">
		<form action="/logInDoctor" class="form" id="form2" method="POST">
			<h2 class="form__title">Login</h2>
			<input type="email" placeholder="Email" class="input" name="email"/>
			<input type="password" placeholder="Password" class="input" name="password" />
			<a href="#" class="link">Forgot your password?</a>
			<input class="btn" type="submit" value="Log In" > 
		</form>
	</div> 


</div>
<script src="script.js"></script>
</body>
</html>

