<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GEN HEALTH</title>
    <link rel="stylesheet" href="css/doctorSignUp.css">
</head>
<body>
    
<h1 style="color:#f8fefe; "> DOCTOR SIGN-UP</h1>
<div class="container right-panel-active">
	<!-- Sign Up -->
	<div class="container__form container--signup">
		<form action="/doctorportal" class="form" id="form1" method="POST">
			<h2 class="form__title">Sign Up</h2>
			<input type="text" placeholder="Full Name" class="input" name="user" />
			<input type="email" placeholder="Email" class="input" name="email" />
			<input type="password" placeholder="Password" class="input" name="password" />
			 <button class="btn" type="submit"><a style="text-decoration: none; color: white;" href="doctorportal">Sign Up</a></button> 
            <!-- <input class="btn" type="submit" value="Sign UP" >  -->
		</form>
	</div>
 </body>
</html> 

</div>
<script src="script.js"></script>
</body>
</html>


























